@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.bg-color {
    background-color: black;
}

.red {
    color: rgba(230, 83, 60, 1);
}

.white {
    color: white;
}

.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgba(230, 83, 60, 1);
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 46px;
    font-size: 1rem;
    border: none;
    font-family: "Inter", sans-serif;
}

.btn-primary-small-scr {
    background-color: rgba(230, 83, 60, 1);
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 46px;
    font-size: 1rem;
    border: none;
    font-family: "Inter", sans-serif;
    display: none;
}

/* header style  */

header {
    background: linear-gradient(to bottom, #121212, #222222, #000000);
    background-size: cover;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

.brand {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
}

.bar-icon {
    display: none;
}

.btn-home {
    background-color: rgba(230, 83, 60, 1);
    font-weight: 600;
    border-radius: 42px;
    padding: 8px 20px;
    font-size: 1rem;
    border: none;
    font-family: "Inter", sans-serif;
}

.nav-item {
    list-style: none;

}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 24px;
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    justify-content: space-between;
    width: 465px;
    padding: 4px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 73%;
    margin: 0 auto;
    padding: 53px 0 30px 0;
}

/* Banner style  */

.banner {
    margin: 0 auto;
    gap: 167px;
    align-items: center;
    width: 73%;
}

.banner-title {
    font-size: 4.8rem;
    font-weight: 900;
    margin: 0;
    line-height: 120%;
}


#shape {
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 400;

}

.button {
    margin-top: 28px;
    flex-direction: row;
}

.btn-app {
    background-color: black;
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 48px;
    font-size: 1rem;
    border: 1px solid white;
    margin-left: 14px;
    font-family: "Inter", sans-serif;
}

.banner-rightside {
    position: relative;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
    margin: auto 0;


}

.video {
    position: absolute;
    padding: 20px 23px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    left: -32%;
    top: 73%;
    font-family: "Inter", sans-serif;
}

#number {
    font-size: 1.5rem;
    font-weight: 900;
}

#description {
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
    opacity: 65%;
}

.badge {
    text-align: left;
    padding-left: 12px;
}

.free {
    position: absolute;
    padding: 16px 24px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    right: -16%;
    top: 22%;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "Inter", sans-serif;

}

#number-top {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
}

#description2 {
    font-size: 0.8rem;
    color: rgba(239, 237, 232, 0.65);
    opacity: 65%;
}

.banner-image {
    width: 100%;
}

.banner-leftside {
    width: 50%;
    flex-direction: column;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    opacity: 50%;
}

/* Habits style  */

.title-center {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
}

.description-p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 50%;
    text-align: center;
    letter-spacing: 0.3px;
}

.card-image {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    justify-content: center;
}

.habits {
    width: 70%;
    margin: 0 auto;
}

.habits-container {
    width: 65%;
    margin: 0 auto;
    padding: 100px 0 0 0 ;
}

.card-container {
    justify-content: space-between;
    margin: 58px 0 100px 0;
    
}

.card-name {
    text-align: center;
    margin-top: 30px;
}

.card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

/* run style */
.run {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 18PX;
    width: 74%;
    margin: 0 auto;
}

.btn-primary-join {
    background-color: rgba(230, 83, 60, 1);
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 70px;
    font-size: 1rem;
    border: none;
    font-family: "Inter", sans-serif;
    margin-top: 34px;
}

.left-side-run {
    width: 40%;
    height: 290px;
    margin-left: 54px;
}


.run-image {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px;
    object-fit: none;
    object-position: 65% 28%;
    
}

.description-pl {
    font-size: 0.87rem;
    font-weight: 400;
    opacity: 50%;
    line-height: 24px;
    letter-spacing: 0.3px;
    
}

.title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

/* BMI style */

.bmi-container {
    width: 47%;
    margin: 88px auto;
}
.title-bmi {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-bg {
    max-width: 1920px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
}

.bmi-cal {
    width: 73%;
    margin: 0 auto;
    margin-bottom: 88px;
    justify-content: space-between;
    gap: 175px;
}

table {
    border-collapse: collapse;
    margin-top: 52px;
}

th {
    font-weight: 500;
    text-align: left;
}

td {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
}

.left-side-bmi {
    margin-top: 52px;
}

.bmi-form {
    width: 577px;
    margin-top: 52px;
}

.form-container {
    margin-top: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 100%;
    
    
}

.form-field input, select{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 13px 20px;
    box-sizing: border-box;
}

.form-field input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.form-activity {
    grid-column: span 2;
    width: 100%;
}
.form-field select option,
.form-activity select option {
    background-color: gray;
        color: lightgray;        
}
.btn-primary-cal {
    background-color: rgba(230, 83, 60, 1);
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 70px;
    font-size: 1.2rem;
    border: none;
    font-family: "Inter", sans-serif;
    margin: 34px 0 52px 0;
}

/* team style */
.team-details {
    width: 47%;
    margin: 0 auto;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 73%;
    margin: 58px auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.team-card img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 18px;
    filter: brightness(90%);
}

.team-card {
    position: relative;
}

.trainer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.name {
    font-size: 1.2rem;
    margin: 0;
}

.position {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}
/* price style  */
.price{
    width: 73%;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.1); ;
    border-radius: 18px;
    margin-bottom: 66px;
    padding: 20px;
}

.plan-card{
    justify-content: space-between;
    
}
.card-price{
    margin-top: 33px;
    background-color:rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
    width: 27%;
}
.list-plan{
    margin-top: 33px;
    list-style: none;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 33px;
}
.price-month{
    font-size: 1.2rem;
    margin-bottom: 33px;
}
.month{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

/* footer style  */
.footer {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
}

.footer-w {
    width: 73%;
    margin: 0 auto;
}

.brand-footer {
    font-size: 4.37rem;
    font-style: italic;
    font-weight: 800;
    margin: 0;
}

.left-side-footer {
    width: 30%;
}

.right-side-footer {
    justify-content: space-between;
    /* align-items: center; */
    gap: 152px;
}

.title-footer {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.list {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0;
    margin-top: 39px;
}

.footer-details {
    justify-content: space-between;
    padding: 66px 0;
}

hr {
    border-color: rgba(255, 255, 255, 0.1);
}

.rights {
    text-align: center;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 35px 0;
}



.none {
    display: none;
}

@media screen and (max-width: 576px) {
    header {
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .bar-icon {
        display: block;
    }

    .banner-title {
        font-size: 2.25rem;
        width: 65%;
        margin-bottom: 28px;
    }

    .banner-description {
        width: 70%;
        line-height: 24px;
        margin-bottom: 28px;
    }

    .button {
        gap: 14px;
      

    }


    .btn-primary-small-scr {
        display: block;
        padding: 16px 60px;
    }

    .btn-primary {
        display: none;
    }
    .btn-app {
        margin: 0;
        padding: 16px 30px;
    }

    .banner {
        flex-direction: column;
        margin: auto 0;
        max-width: 100%;
        width: 100%;
        gap: 0;
        padding: 0 20px;
    }

    .banner-leftside {
        width: 100%;
        flex-direction: column;
    }
    .habits{
        width: auto;
        padding: 0 28px;
        margin: 0;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 58px;
    }

    #shape {
        font-size: 4rem;
    }

   

    .btn-primary {
        padding: 16px 40px;
    }

    .navbar {
        width: auto;
        margin: 0;
        padding: 51px 20px;
    }

    
    .video {
        top: 51%;
        left: 2%;
        padding: 15px 17px;
    }

    .banner-image {
        margin-top: 55px;
    }

    .free {
        right: 5%;
        padding: 11px 22px;
        top: 18%;
    }

    #number-top {
        font-size: 1.8rem;
    }

    #description2 {
        font-size: 0.6rem;
    }

    .ball {
        height: 30px;
        width: 30px;
    }

    #number {
        font-size: 1.2rem;
    }

    #description {
        font-size: 0.75rem;
    }

    .title-center {
        font-size: 2rem;
        margin-bottom: 14px;
        margin-top: 0;
    }

    .habits-container {
        width: auto;
        padding: 0;
    }

    .card-name {
        font-size: 1rem;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 8px;
    }

    .description-p {
        margin: 0;
        font-size: 0.75rem;
        line-height: 24px;
        letter-spacing: 0.3px;
    }

    .card {
        padding: 0;
        width: 231px;
        height: 274px;
    }

    .run {
        flex-direction: column;
        margin-top: 66px;
        align-items: center;
        width: 90%;
    }

    .run-image {
        height: auto;
        width: 100%;
        margin: 0;
        object-fit: cover;
    }
    .right-side-run{
        padding: 0 33px 33px 33px;
    }
    .left-side-run {
        padding: 33px;
        margin: 0;
        width: auto;
        height: auto;
    }
    .left-side-run h3{
        font-size: 2rem;
    }
    .btn-primary-join {
        width: 100%;
        margin-top: 24px;
    }

    .bmi-container {
        width: auto;
        margin: 32px 0 32px 0;
        padding: 0 20px; 
    }

    .bmi-cal {
        flex-direction: column;
        width: auto;
        padding: 0 20px;
        gap: 0;
    }

    .left-side-bmi {
        margin-top: 34px;
    }

    .bmi-form {
        width: 100%;
    }

    .row input {
        width: 38.5%;
        margin: 0;
    }

    .row select {
        width: 47.5%;
    }
    .team-details{
        width: auto;
        padding: 0 20PX;
    }
    .team-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .small-scr {
        display: none;
    }
    .plan-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-price{
        width: 80%;
    }
    .price{
        padding: 20px;
        width: auto;
    }

    .footer-details {
        flex-direction: column;
    }

    .footer-w {
        width: auto;
        margin: auto 20px;
    }

    .left-side-footer {
        width: 100%;
    }

    .right-side-footer {
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }
    .rights{
        text-align: left;
    }
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

}